[submodule "cmake/backbone"]
	path = cmake/backbone
	url = https://git.backbone.ws/kolan/cmake.backbone.git
[submodule "util/backbone-utils"]
	path = util/backbone
	url = https://git.backbone.ws/kolan/cmake.backbone-utils.git
